NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
NEXT_PUBLIC_API_DOCS_URL=http://127.0.0.1:8000/docs
NEXT_PUBLIC_FORMS_URL=https://forms.office.com/r/EXAMPLEFORM
NEXT_PUBLIC_SHAREPOINT_URL=https://contoso.sharepoint.com/sites/DocumentAIProject
